<footer class="py-4 px-1 bg-gray-100 text-sm text-gray-600 text-center">
        <ul
          id="SocialLinks"
          class="flex gap-4 mx-auto my-4 justify-center align-center"
        >
          <li>
            {% set socialIconClasses = 'h-6 w-6 text-gray-400 hover:text-gray-500' %}
            <a href="">
              {% include 'icons/youtube.njk' %}
            </a>
          </li>
          <li>
            <a href="">
              {% include 'icons/instagram.njk' %}
            </a>
          </li>
          <li>
            <a href="">
              {% include 'icons/facebook.njk' %}
            </a>
          </li>
        </ul>
        <p>
          Copyright 2020 Freedom Boat Club of Virginia, LLC. All Rights
          Reserved.
        </p>
        <ul
          id="FooterLinks"
          class="flex gap-4 mx-auto my-4 justify-center align-center"
        >

          {% for link in compFooter.fields.links %}
            {% footerLink link %}
          {% endfor %}
        </ul>
      </footer>