{% for comp in components %}
    <code class="block">{{ comp.sys.contentType.sys.id }}</code>
    {% set type = comp.sys.contentType.sys.id %}

    {% if type == 'instructions' %}
      {% include "./components/instructions.njk" %}

    {% elif type == 'menuBlock' %}
      {% include "./components/menuBlock.njk" %}

    {% elif type == 'testimonialsMenu' %}
      {% include "./components/testimonialsMenu.njk" %}

    {% elif type == 'heroVideo' %}
     {% heroVideo comp.fields.youTubeUrl | youTubeId %}

    {% elif type == 'blockQuote' %}
     {% fullWidthQuote comp.fields.quoteText %}

    {% elif type == 'blockAd' %}
      {% if comp.fields.format == 'Full Width'  %}
        <div class="text-xs">{{ comp.fields.format }}</div>
        {% fullWidthAd comp.fields %}
      {% elif comp.fields.format == 'Slim' %}
        <div class="text-xs">{{ comp.fields.format }}</div>
        {% slimAd comp.fields %}
      {% endif %}
     

  {% endif %}

{% endfor %}