<div class="faq-item">
    <h4 class="font-bold ml-4 my-4 text-xl">{{ comp.fields.question }}</h4>
    <div class="ml-8 mb-8 prose dark:prose-dark">{% documentToHtmlString comp.fields.answer %}</div>
</div>