<footer class="py-8 px-1 bg-gray-100 text-sm text-gray-600 text-center">
  <ul
    id="SocialLinks"
    class="block"
  >
    <li class="inline-block mx-4">
      {% set socialIconClasses = 'h-6 w-6 text-gray-400 hover:text-gray-500 transition-colors duration-500 ease-in-out' %}
      <a href="">
        {% include 'icons/youtube.njk' %}
      </a>
    </li>
    <li class="inline-block mx-4">
      <a href="">
        {% include 'icons/instagram.njk' %}
      </a>
    </li>
    <li class="inline-block mx-4">
      <a href="">
        {% include 'icons/facebook.njk' %}
      </a>
    </li>
  </ul>
  <p class="py-8">
    Copyright {% currentYear %} Freedom Boat Club of Virginia, LLC. All Rights
    Reserved.
  </p>
  <ul
    id="FooterLinks"
    class="flex mx-auto my-4 justify-center align-center"
  >

    {% for link in components.footer.fields.links %}
      <div class="mx-4 inline-block"
        {% footerLink link %}
      </div>
    {% endfor %}
  </ul>
</footer>