<header id="header" class="p-2 flex align-center justify-center shadow-lg">
  <a href="{{ '/' | url }}">
    <img src="/assets/images/logo.png" alt="Freedom Boat Club Image" class="w-10 h-10"/>
  </a>
  <h2 class="flex-grow flex items-center mx-4">
    <a href="{{ '/' | url }}" class="text-blue-fbc text-lg font-bold"
      >Freedom Boat Club of Virginia</a
    >
  </h2>
  <nav class="grid grid-cols-2 justify-center gap-2">
    <a href="/#" class="py-2 px-3 rounded bg-white text-blue-fbc border-2 border-blue-fbc font-bold"
      >Instant Tour</a
    >
    <a href="/#" class="py-2 px-3 rounded bg-blue-fbc text-white border-2 border-blue-fbc font-bold"
      >Join Now</a
    >
  </nav>
</header>