---
layout: layout.njk
eleventyComputed:
     title: "{{ pages.locations.woodbridge.fields.shortTitle }} | Freedom Boat Club"
     description: "{{ pages.locations.woodbridge.fields.seoDescription }}"
     slug: "{{ pages.locations.woodbridge.fields.slug }}"
---

{% breadcrumb [{label: pages.index.fields.shortTitle, loc: pages.index.fields.slug}, {label: pages.locations.index.fields.shortTitle, loc: pages.locations.index.fields.slug}, {label: pages.locations.woodbridge.fields.shortTitle }] %}

{% header pages.locations.woodbridge.fields.title, pages.locations.woodbridge.fields.bodyText, 'blue' %}

{% set components = pages.locations.woodbridge.fields.components %}
{% include '../../_includes/pageComponents.njk' %}

{% set boats = pages.locations.woodbridge.fields.boats %}
{% boatMenu boats, relations.boats %}


<script>
    window.addEventListener('load', function() {
        FBC.locations.init();
    });
</script>

