---
permalink: "/"
layout: layout.njk
title: Freedom Boat Club of Virginia
description: Boating done right!
---

{% set components = pages.index.fields.components %}

{% include '../_includes/pageComponents.njk' %}