---
permalink: "/training-and-insurance/"
layout: layout.njk
title: Training & Insurance
description: Our Stafford location boasts 22 boats available and 4 types of schooners
---

{% breadcrumb [{label: pages.index.fields.shortTitle, loc: pages.index.fields.slug}, {label: pages.trainingAndInsurance.index.fields.shortTitle }] %}

{% header pages.trainingAndInsurance.index.fields.title, pages.trainingAndInsurance.index.fields.bodyText, 'gold' %}

{% set components = pages.trainingAndInsurance.index.fields.components %}

{% include '../_includes/pageComponents.njk' %}