---
permalink: "/member-experiences/testimonials/"
layout: layout.njk
title: Member Testimonials
description: Find out what members like to do on the water in ${location}
---

{% breadcrumb [{label: pages.index.fields.shortTitle, loc: pages.index.fields.slug}, {label: pages.memberExperiences.index.fields.shortTitle, loc: pages.memberExperiences.index.fields.slug}, {label: pages.memberExperiences.testimonials.fields.shortTitle}] %}

{% set bodyText = '' %}
{% for paragraph in pages.memberExperiences.testimonials.fields.bodyText.content[0].content %}
    {% set bodyText = bodyText ~ paragraph.value %}
{% endfor %}

{% header pages.memberExperiences.testimonials.fields.title, bodyText, 'blue' %}

{% set components = pages.memberExperiences.testimonials.fields.components %}
{% include '../../_includes/pageComponents.njk' %}

<div id="Options" class="grid grid-cols-3 w-full my-8 gap-x-4  gap-y-8">
  {% videoButton 'uc6AZZoyJc0', 'Smith Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
</div>

{% fullWidthAd %}

<div id="Options" class="grid grid-cols-3 w-full my-8 gap-x-4  gap-y-8">
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
</div>

{% fullWidthQuote %}

<div id="Options" class="grid grid-cols-3 w-full my-8 gap-x-4  gap-y-8">
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
</div>

{% slimAd %}
