---
permalink: "/member-experiences/"
layout: layout.njk
title: Member Experiences
description: Choose an option to see the member experiences
---

{% breadcrumb [{label: 'Home', loc: '/'}, {label: 'Member Experiences'}] %}

{% header 'Join hundreds of satisfied customers', 'We love our members, and we love to see what they are up to. When it’s this easy to get out on the boat destinations that seemed out of reach suddenly become a fun evening out. Whether it’s a family day on the lake or a trip to Alexandria for dinner, we’re sure you’ll find plenty of ways to enjoy the water.', 'gold' %}

{% instructions 'Find out what our members do and say about Freedom Boat Club' %}

<div id="Buttons" class="grid grid-cols-2 gap-4 text-center">
  {% mainMenuItem 'What Members Do When They Boat', '/member-experiences/what-to-do/' %}
  {% mainMenuItem 'What Members Say About Their Experiences', '/member-experiences/testimonials/' %}
</div>