---
layout: layout.njk
changefreq: monthly
priority: .75
eleventyComputed:
     title: "{{ pages.contact.fields.shortTitle }} | Freedom Boat Club"
     description: "{{ pages.contact.fields.seoDescription }}"
     slug: "{{ pages.contact.fields.slug }}"

---

{% breadcrumb [{label: pages.index.fields.shortTitle, loc: pages.index.fields.slug}, {label: pages.contact.fields.shortTitle }] %}

{% header pages.contact.fields.title, '', 'gold' %}

<div class="prose dark:prose">
     {% documentToHtmlString pages.contact.fields.bodyText %}
</div>