---
layout: layout.njk
changefreq: monthly
priority: .25
eleventyComputed:
     title: "{{ pages.privacyPolicy.fields.shortTitle }} | Freedom Boat Club"
     description: "{{ pages.privacyPolicy.fields.seoDescription }}"
     slug: "{{ pages.privacyPolicy.fields.slug }}"
---

{% breadcrumb [{label: pages.index.fields.shortTitle, loc: pages.index.fields.slug}, {label: pages.privacyPolicy.fields.shortTitle }] %}

{% header pages.privacyPolicy.fields.title, '', 'gold' %}

<div class="prose dark:prose">
     {% documentToHtmlString pages.privacyPolicy.fields.bodyText %}
</div>