---
layout: layout.njk
changefreq: monthly
priority: .75
eleventyComputed:
     title: "{{ pages.trainingAndInsurance.fields.shortTitle }} | Freedom Boat Club"
     description: "{{ pages.trainingAndInsurance.fields.seoDescription }}"
     slug: "{{ pages.trainingAndInsurance.fields.slug }}"
---

{% breadcrumb [{label: pages.index.fields.shortTitle, loc: pages.index.fields.slug}, {label: pages.trainingAndInsurance.index.fields.shortTitle }] %}

{% header pages.trainingAndInsurance.index.fields.title, pages.trainingAndInsurance.index.fields.bodyText, 'gold' %}

{% set components = pages.trainingAndInsurance.index.fields.components %}

{% include '../_includes/pageComponents.njk' %}