---
permalink: "/locations/"
layout: layout.njk
title: Locations
description: Choose a location to see the available boats
---

{% breadcrumb [{label: 'Home', loc: '/'}, {label: pageLocations.fields.shortTitle }] %}

{% set bodyText = '' %}

{% for paragraph in pageLocations.fields.bodyText.content[0].content %}
    {% set bodyText = bodyText ~ paragraph.value %}
{% endfor %}

{% header pageLocations.fields.title, bodyText, 'gold' %}

{% set components = pageLocations.fields.components %}

{% include '../_includes/pageComponents.njk' %}


