---
permalink: "/locations/woodbridge/"
layout: layout.njk
title: Stafford
description: Our Stafford location boasts 22 boats available and 4 types of schooners
---

{% breadcrumb [{label: 'Home', loc: '/'}, {label: pageLocations.fields.shortTitle, loc: pageLocations.fields.slug}, {label: pageLocationsWoodbridge.fields.shortTitle }] %}

{% set bodyText = '' %}
{% for paragraph in pageLocationsWoodbridge.fields.bodyText.content[0].content %}
    {% set bodyText = bodyText ~ paragraph.value %}
{% endfor %}
{% header pageLocationsWoodbridge.fields.title, bodyText, 'blue' %}

{% set components = pageLocationsWoodbridge.fields.components %}
{% include '../_includes/pageComponents.njk' %}

{% slimAd %}