---
layout: layout.njk
changefreq: monthly
priority: .75
eleventyComputed:
     title: "{{ pages.memberExperiences.index.fields.shortTitle }} | Freedom Boat Club"
     description: "{{ pages.memberExperiences.index.fields.seoDescription }}"
     slug: "{{ pages.memberExperiences.index.fields.slug }}"
---

{% breadcrumb [{label: pages.index.fields.shortTitle, loc: pages.index.fields.slug}, {label: pages.memberExperiences.index.fields.shortTitle}] %}

{% header pages.memberExperiences.index.fields.title, pages.memberExperiences.index.fields.bodyText, 'blue' %}

{% set components = pages.memberExperiences.index.fields.components %}
{% include '../../_includes/pageComponents.njk' %}