---
layout: layout.njk
changefreq: daily
priority: .75
eleventyComputed:
     title: "{{ pages.memberExperiences.testimonials.fields.shortTitle }} | Freedom Boat Club"
     description: "{{ pages.memberExperiences.testimonials.fields.seoDescription }}"
     slug: "{{ pages.memberExperiences.testimonials.fields.slug }}"
---

{% breadcrumb [{label: pages.index.fields.shortTitle, loc: pages.index.fields.slug}, {label: pages.memberExperiences.index.fields.shortTitle, loc: pages.memberExperiences.index.fields.slug}, {label: pages.memberExperiences.testimonials.fields.shortTitle}] %}

{% header pages.memberExperiences.testimonials.fields.title, pages.memberExperiences.testimonials.fields.bodyText, 'blue' %}

{% set components = pages.memberExperiences.testimonials.fields.components %}
{% include '../../_includes/pageComponents.njk' %}

<div id="Options" class="grid grid-cols-3 w-full my-8 gap-x-4  gap-y-8">
  {% videoButton 'uc6AZZoyJc0', 'Smith Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
</div>

{% fullWidthAd %}

<div id="Options" class="grid grid-cols-3 w-full my-8 gap-x-4  gap-y-8">
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
</div>

{% fullWidthQuote %}

<div id="Options" class="grid grid-cols-3 w-full my-8 gap-x-4  gap-y-8">
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
  {% videoButton 'uc6AZZoyJc0', 'Parker Family', '', 'below' %}
</div>

{% slimAd %}
