---
permalink: "/locations/richmond/"
layout: layout.njk
title: Richmond
description: Our Richmond location boasts 22 boats available and 4 types of schooners
---

{% breadcrumb [{label: pages.index.fields.shortTitle, loc: pages.index.fields.slug}, {label: pages.locations.index.fields.shortTitle, loc: pages.locations.index.fields.slug}, {label: pages.locations.richmond.fields.shortTitle }] %}

{% set bodyText = '' %}
{% for paragraph in pages.locations.richmond.fields.bodyText.content[0].content %}
    {% set bodyText = bodyText ~ paragraph.value %}
{% endfor %}
{% header pages.locations.richmond.fields.title, bodyText, 'blue' %}

{% set components = pages.locations.richmond.fields.components %}
{% include '../../_includes/pageComponents.njk' %}

{% slimAd %}