---
permalink: "/"
layout: layout.njk
title: Freedom Boat Club of Virginia
description: Boating done right!
---

{% heroVideo 'uc6AZZoyJc0' %}

<div id="Buttons" class="grid grid-cols-2 gap-4 mx-auto">
  {% mainMenuItem 'Our Boats', '/locations/' %}
  {% mainMenuItem 'Training & Insurance', '/training-and-insurance/' %}
  {% mainMenuItem 'Member Experiences', '/member-experiences/' %}
  {% mainMenuItem 'Pricing', '/pricing/' %}
</div>

{% fullWidthQuote %}

{% slimAd %}
