---
#pagination:
#    data: contentful-page
#    size: 1
#    alias: page
 #   addAllPagesToCollections: true
# permalink: "{{ page.slug | slug }}/"
tags: "page"
layout: layout.njk
eleventyComputed:
  title: "{{ page.title}}"

---
  {# {% bannerBlock contentful-header %} 
  {%- for component in page.components -%}
      {% if component.sys.contentType.sys.id == "blockAd" %}
        {% blockAd component %}
      {% elseif component.sys.contentType.sys.id == "blockQuote" %}
        {% blockQuote component %}
      {% endif %}
  {% endfor %}
  {% footerBlock contentful-footer %} #}
