---
permalink: "/training-and-insurance/"
layout: layout.njk
title: Training & Insurance
description: Our Stafford location boasts 22 boats available and 4 types of schooners
---

{% breadcrumb [{label: 'Home', loc: '/'}, {label: 'Training & Insurance'}] %}

{% header 'Training & Insurance', '', 'blue' %}

{% heroVideo 'uc6AZZoyJc0' %}

{% instructions 'Rest assured that your safety is our safety. Our expert dock staff undergo 2-4 weeks of training as well as weekly training refreshers to ensure they are ready to take care of any situation they might encounter. While some may say that’s excessive, we think of it as our way of showing you how much we care. ' %}

<div id="Options" class="grid grid-cols-2 w-full my-8 gap-x-4  gap-y-8">
  {% videoButton 'uc6AZZoyJc0', 'Meet our Captains', 'Every ship needs a captain, and we’ve got plenty! Get to know them and their diverse backgrounds in this 3 minute video', 'both' %}
  {% videoButton 'uc6AZZoyJc0', 'Our Training Philosophy', 'Every ship needs a captain, and we’ve got plenty! Get to know them and their diverse backgrounds in this 3 minute video', 'both' %}
  {% videoButton 'uc6AZZoyJc0', 'Industry Leading Insurance', 'Every ship needs a captain, and we’ve got plenty! Get to know them and their diverse backgrounds in this 3 minute video', 'both' %}
  {% videoButton 'uc6AZZoyJc0', 'FBC Plus', 'Every ship needs a captain, and we’ve got plenty! Get to know them and their diverse backgrounds in this 3 minute video', 'both' %}
</div>

{% slimAd %}